{% load static %}
<!DOCTYPE>

<html lang="ru">
        <head>
                <meta charset="utf-8">
       <!--         <link
               href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
               rel="stylesheet"
               integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
               crossorigin="anonymous"> -->
               <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
                <title>{% block title %} {% endblock %} </title>
        </head>
        <body>
                
		<header class="-3 bg-dark text-white">
		    <div class="container">
     		    	<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
       				 <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                                         <img src="{% static '/images/hasker_logo_white.png' %}" height="50">
       				 </a>

       				 <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                                           <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                                 </ul>

                                 <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                                         <input class="form-control form-control-dark" placeholder="Search..." aria-label="Search" type="search">
                                 </form>

                                 <div class="text-end">
                                         <button type="button" class="btn btn-outline-light me-2">Login</button>
                                         <button type="button" class="btn btn-warning">Sign-up</button>
                                 </div>
                         </div>
                 </div>
  </header>

 {% block content %}{% endblock %}

        </body>
</html>
